{% extends 'index.html' %}

{% block content %}

    {% if invalid is True %}
        <div class="alert alert-danger" role="alert">Something went wrong. Details : {{msg}}</div>
    {% endif %}

    <div class="container-fluid bg-dark rounded p-3 text-white m-1" style="opacity:72%">
        <h1 class="display-1">Page Replacement Algorithms</h1>
        <hr>

        <div class="m-1">
            <h1 class="display-3 mb-3">Input</h1>

            <form action="/PageRelocationAlgo-output/" method="POST" id="pagerelocform">
                {% csrf_token %}
                <div class="col-3">
                    <label for="algo" class="form-label">Select Algorithm: </label>
                    <select name="algo" id="algo" class="form-control mb-3">
                        <option value="fifo">FIFO</option>
                        <option value="lru">LRU</option>
                        <option value="optimal">Optimal</option>
                    </select>
                    <label for="numFrames" class="form-label">Enter Number of Frames: (3-9)</label>
                    <input type="range" class="form-range" min="3" max="9" value="3" name="numFrames" id="numFrames">
                    <label for="refStr" class="form-label">Enter reference string: </label>
                    <input type="text" class="form-control" name="refStr" id="refStr">
                    <div class="col-2 ms-auto">
                        <input type="submit" value="Submit" class="bg-success mt-3 form-control">
                    </div>
                </div>
            </form>
        </div>
        <hr>
        <div class="m-1">
            <h1 class="display-3 mb-3">Output</h1>
            {% block output %}
            {% endblock %}
        </div>
    </div>

{% endblock %}